.resized{
    height:auto;
    max-width: 100%;
}

.image-wrapping {
    float: left;
}
body {
    background-image: url('https://img.freepik.com/free-photo/old-gray-cement-wall-backgrounds_34552-324.jpg?size=626&ext=jpg');
}

.footer {
    
    position:fixed;
    bottom:0px;
    width: 100%;
    border-color: aqua;
    border-top-style:solid;
    border-top-width:3px;
    margin-bottom: 0px;
    text-align:center;
    padding-top: 30px;
    height:80px;
    background-color: lightslategray;
    color:white;
}

.lefted {
    float:left;
}

